.consultation-section{
    background-image: url("../../../Assets/img/main/background.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 770px;
    background-position: center;
    background-size: cover;

    .consultation{
        position: relative;

        .consultation__top {
            padding: 100px 0 210px 0;
            width: 70%;
            margin: 0 auto;
            text-align: center;

            & > h1 {
                font-weight: 700;
                line-height: 66px;
                font-size: 44px;
            }

            & > p {
                padding: 0 180px;
                font-weight: 400;
                line-height: 24px;
                font-size: 16px;

                & > span {
                    color: #53B175;
                    border-bottom: 1px solid #53B175;;
                }
            }
        }

        .abs {
            position: absolute;
            right: 0;
            top: 66%;

            .phone{
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                padding: 10px 13px;
                border-radius: 50%;
                background-color: #045AB0;
                color: #fff;
                cursor: pointer;
            }

            .sms{
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                padding: 10px 13px;
                border-radius: 50%;
                background-color : #53B175;
                color: #fff;
                margin-top: 20px;
                cursor: pointer;
            }
        }
    }
}
